/* ==== Загальні стилі ==== */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f1efe6;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    color: #5B3218;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* ==== Header ==== */
.header{
    padding-top: 16px;
    
}

.menu-nav{
    display:flex;
    gap: 8px;
    flex-grow: 1;
}

.nav-link{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #5B3218;
        padding: 12px 0;
        cursor: pointer;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
    color: #579036;
}
.nav-link:focus {
    color: #579036;
}

@media screen and (min-width: 768px){
    .logo{
        width: 148px;
        height: auto;
        margin-top: 0;
    }

        .heder-wraper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        /* padding-bottom: 16px; */
        
    }

    .header {
        padding-bottom: 16px;
    
    }

    .nav-link{
        font-size: 24px;
    }
    
    .menu-nav{
        gap: 24px;
    }

@media screen and (min-width: 1158px){
    .nav-link {
            font-size: 36px;
        }
    
        .menu-nav {
            gap: 36px;
        }
}


}

/* ====== hero  ===== */

.hero{
    display: flex;
    flex-direction: column;
    background: #72a853;
    padding-top: 16px;
    padding-bottom: 16px;
}

.hero-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        /* max-width: 496px; */
        margin-bottom: 24px;
}

.hero-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 364px;
    margin-bottom: 16px;
    text-align: justify;
    color: #0B0804;
}

.hero-img{
    border-radius: 4px;
}

@media screen and (min-width: 768px){
    .section-hero{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .hero-img{
        min-width: 360px;
    }

    .hero-title{
        margin-top:  36px;
        margin-bottom: 36px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1158px){
    .hero-title {
            margin-top: 48px;
            margin-bottom: 48px;
            line-height: 1.8;
        }
    
    .hero-text {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            max-width: 364px;
            margin-bottom: 16px;
            text-align: justify;
            margin: 0 auto;
        }
}

/* ====  section about ===== */

.about{
    margin-top: 24px;
    margin-bottom: 24px;
}

.about-title{
font-weight: 700;
font-size: 24px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 24px;
}

.about-text{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    text-align: justify;
    color: #5B3218;
}

.skills{
    background-color: rgb(203, 207, 164);
    border-radius: 4px;
    padding: 24px;
    
}

.skills-title{
    font-weight: 700;
        font-size: 16px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}

.skills-list{
    color: #5B3218;
    list-style-type: square;
}

.skills-list-text{
    margin-top: 8px;
    color: #5B3218;
}

@media screen and (min-width: 768px){
    
    .section-about-text{
        max-width: 420px;
    }
    
    .about-content{
        display: flex;
        flex-direction: row;
        gap: 18px;
        align-items: baseline;
    }

    .skills{
        max-width: 100%;
        padding-top: 48px;
    }

    .skills-list-text{
        font-size: 18px;
    }
}

@media screen and (min-width: 1158px) {
    .about-content {
        margin: 0 auto;
        justify-content: space-between;
        gap: 40px;
        align-items: flex-start;
    }

    .section-about-text {
        flex: 1;
        max-width: 640px;
    }

    .about-title{
        margin-top: 24px;
        font-size: 28px;
    }

    .about-text {
        font-size: 18px;
        line-height: 1.6;
    }

    .skills {
        flex: 1;
        padding: 32px;
        max-width: 440px;
        border-radius: 8px;
        margin-top: 36px;
    }

    .skills-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .skills-list-text {
        font-size: 18px;
        margin-top: 12px;
    }
}


/* === certificates === */


.certificates {
    padding: 30px 0;
    text-align: center;
}

.certificates-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.certificate-slider {
    position: relative;
    height: auto;
    max-width: 100%;
}

.certificate-slider img {
    display: none;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.certificate-slider img.active {
    display: block;
}

.pagination-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination-buttons button {
    padding: 6px 16px;
    font-size: 10px;
    background-color: #72a853;
    color: #0B0804;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination-buttons button:hover {
    background-color: #579036;
}

.pagination-buttons button:focus {
    background-color: #579036;
}


/* Стилі для оверлею (збільшеного зображення)  */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.8); 
z-index: 1000;
align-items: center;
justify-content: center;
transition:
        opacity 700ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 700ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.enlarged-image {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
    border-radius: 5px;
    transition:
            transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Плавне зростання при появі оверлею */
.overlay.show .enlarged-image {
    transform: scale(1);
    opacity: 1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 3em;
    color: white;
    cursor: pointer;
    transition: color 300ms ease, opacity 300ms ease;
}

.close-button:hover {
    color: rgb(203, 207, 164);
    opacity: 1;
}


@media screen and (min-width: 1158px){
    .certificates-title{
        font-size: 28px;
    }

        .pagination-buttons button {
            padding: 8px 18px;
            font-size: 12px;
        }
    
}



/* ==== lessons ==== */

.lessons{
    background-color: rgb(203, 207, 164);
    padding-top: 24px;
    border-radius: 4px;
}

.lessons-title{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.card-title{
    margin-bottom: 8px;
}

.lessons-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align:left;
        color: #5B3218;
}

.more-text {
    display: none;
}

.more-text.show {
    display: inline;
}

.more-btn {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #72a853;
    color: #0B0804;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.more-btn:hover {
    background-color: #579036;
}
.more-btn:focus {
    background-color: #579036;
}


.lessons-cards {
    display: grid;
    grid-template-columns: 1fr;
    /* мобілка — по 1 картці */
    gap: 24px;
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .lessons-cards {
        grid-template-columns: repeat(2, 1fr);
        /* планшет і вище — 2 в ряд */
    }

}

@media screen and (min-width: 1158px){
    .lessons-title {
            font-size: 28px;
            margin-bottom: 24px;
            margin-bottom: 24px;
        }
}




/* ===  gallery ==== */

.gallery{
    padding: 24px 0;
}
.gallery-title{
    font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;       
}
.gallery-cards-item{
    width: 100%;
    border-radius: 4px;
}
.gallery-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.gallery-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-cards img:hover {
    transform: scale(1.03);
}

.swiper-button-next,
.swiper-button-prev {
    color: #72a853;
    width: 16px;
    height: 16px;
    
}

.swiper-pagination-bullet {
    background: #72a853;
    opacity: 1;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #5B3218;

}
@media screen and (min-width: 768px){
    .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
        }
}

@media screen and (min-width: 1158px){
    .gallery-title{
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
        }
}



/* ==== contact === */

.contact{
    padding: 24px 0;
}

.contact-title{
    font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
}

.contact-item{
    margin-bottom: 16px;
}

/* === footer === */
.footer{
    background-color: #72a853;
    padding: 24px 0;
    text-align: center;
}

.footer-media{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.soc-media {
    display: flex;
    align-items: baseline;
}

.footer-text-social {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #5B3218;
    margin-bottom: 16px;

}

.footer-icon-social {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-icon {
    width: 100%;
    height: 100%;
    background-color: #72a853;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon:hover {
    background-color: #579036;
}

.footer-icon:focus {
    background-color: #579036;
}

.icon-social {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px){
    .footer-text-social{
        font-size: 24px;
    }

}

@media screen and (min-width: 1158px){
    .contact-title{
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

/* === forma === */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


.contact-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #5B3218;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #579036;
}
.contact-form button:focus {
    background-color: #579036;
}


.footer-text{
    font-size: 10px;
}


.form-message {
    margin-top: 15px;
    font-size: 16px;
    display: none;
}

.form-message.success {
    color: #579036;
    justify-content: center;
}

.form-message.error {
    color: red;
}

@media screen and (min-width: 768px){
    .footer-text {
            font-size: 16px;
        }
}